<footer class="fixed-bottom bg-light mx-auto">
    <div class="container text-center">
        <span class="text-muted align-middle">
            &copy 2021 Prison Break 首都圏.
        </span>
    </div>
</footer>
