<!DOCTYPE html>
<html lang="ja" class="h-100">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block header_scripts_add %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {# font awsomeパッケージを利用します#}
    <link href="/assets/fa/css/all.css" rel="stylesheet">
    <style>
        main > .container {
            padding: 60px 15px 0;
        }

        .footer {
            background-color: #f5f5f5;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }
    </style>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
{#メニューをセットします#}
{% include 'menu/menu.twig' %}

{#ここから本文です#}
{#この部分を修正すると全体のレイアウトが崩れるので触らないようにしましょう#}
<main role="main" class="mb-5">
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
</main>

{# フッタを表示します #}
{% include 'layout/footer.twig' %}

{#必須スクリプトをインポートします#}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

{# 追加でスクリプトがほしいときにぶっこまれます #}
{% block footer_scripts_add %}{% endblock %}
</body>
</html>
