/* ----- 背景用の動画ファイル ----- */
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: auto;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
}

#filter {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: auto;
    width:100%;
    height: 100%;
    z-index: -10;
    background-size: cover;
    /*background-color: #FFF;*/
    opacity: 0.55
}
