{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    {# 背景動画を表示させるスタイルを読み込みます。#}
    <link href="/assets/css/video.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header text-center">
                <h1 style="font-size: 80px;color: black;background: rgba(255, 255, 128, .5);">タイトル</h1>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <video id="bg-video" src="/assets/img/bg.mp4" autoplay loop></video>
                        <div id="filter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
