{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}Virest
{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
  {# 背景動画を表示させるスタイルを読み込みます。#}
  <link href="/assets/css/video.css" rel="stylesheet">
  <link herf="/assets/css/mouse.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}


  <!-- <div class="row">
          <div class="col-md-12 ">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="bg-video" src="/assets/img/bg.mp4" playsinline autoplay loop></video>
                  <div id="filter">
                  </div>
  
              </div>
          </div>
  
      </div> -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col no-gutters">
        <div class="col-xl-12">
          <div
            id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- インジケータの設定 -->
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <!-- スライドさせる画像の設定 -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/img/01.jpg" alt="第1スライド">
              </div>
              <!-- /.carousel-item -->
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/img/02.jpg" alt="第2スライド">
              </div>
              <!-- /.carousel-item -->
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/img/03.jpg" alt="第3スライド">
              </div>
              <!-- /.carousel-item -->
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/img/04.jpg" alt="第4スライド">
              </div>
              <!-- /.carousel-item -->
            </div>
            <!-- /.carousel-inner -->
            <!-- スライドコントロールの設定 -->
            <a
              class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"><!-- ... -->
            </a>
            <a
              class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"><!-- ... -->
            </a>
            <a
              class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"><!-- ... -->
            </a>
          </div>
          <!-- /.carousel -->
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br>

  <div
    class="row">

    <!-- <div class="sample2">
                    <img src="./fruit.jpg" alt="フルーツ寄せ集め" />
                    <div class="mask">
                        <div class="caption">It's fresh !</div>
                    </div>
                </div> -->
    <div class="col-lg-4 col-md-6 text-center">
      <i class="fas fa-briefcase" class="card-img-top" style="font-size: 80px"></i>
      <div class="card-body">
        <h5 class="card-title">普段と違う時間</h5>
        <p class="card-text">仕事ばかりの普段の生活とは違った時の流れ</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">

      <i class="fas fa-glass-cheers" style="font-size: 80px"></i>
      <div class="card-body">
        <h5 class="card-title">別荘という特別感</h5>
        <p class="card-text">普段感じることのできないリラックスした時の流れ</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
      <i class="fas fa-tree" style="font-size: 80px"></i>
      <div class="card-body">
        <h5 class="card-title">大自然</h5>
        <p class="card-text">子供心にもどって大声で叫びながら自然と戯れる</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <br>
  <br><br>
  <br>

  <div class="row">
    <div class="text-center col-lg-12 col-md-12">
      <h4>最新のおすすめ</h4><br>
    </div>

    {# <!-- {% for spot in spots %} --> #}
    {% for villa in topics %}
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card img-thumbnail">
          <img class="card-img-top" height="150" src="{{villa.image_path}}" alt="画像">
          <div class="card-body px-2 py-3">
            <h5 class="card-title">{{villa.name}}</h5>
            <p class="card-text text-left">{{villa.description}}</p>
            <p class="mb-0">
              <a href="/villa/{{villa.id}}" class="btn btn-primary btn-sm form-control">詳細ページ</a>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}


    {# <div class="col-lg-3 col-md-6 text-center">
                <div class="card img-thumbnail">
                    <img class="card-img-top" src="https://dummyimage.com/320x240/ccc/fff.png&text=img1" alt="画像">
                    <div class="card-body px-2 py-3">
                        <h5 class="card-title">タイトル</h5>
                        <p class="card-text">コンテンツ コンテンツ コンテンツ コンテンツ</p>
                        <p class="mb-0">
                            <a href="#" class="btn btn-primary btn-sm">ボタン</a>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-sm-6.col-md-3 -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card img-thumbnail">
                    <img class="card-img-top" src="https://dummyimage.com/320x240/ccc/fff.png&text=img1" alt="画像">
                    <div class="card-body px-2 py-3">
                        <h5 class="card-title">タイトル</h5>
                        <p class="card-text">コンテンツ コンテンツ コンテンツ コンテンツ</p>
                        <p class="mb-0">
                            <a href="#" class="btn btn-primary btn-sm">ボタン</a>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-sm-6.col-md-3 -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card img-thumbnail">
                    <img class="card-img-top" src="https://dummyimage.com/320x240/ccc/fff.png&text=img1" alt="画像">
                    <div class="card-body px-2 py-3">
                        <h5 class="card-title">タイトル</h5>
                        <p class="card-text">コンテンツ コンテンツ コンテンツ コンテンツ</p>
                        <p class="mb-0">
                            <a href="#" class="btn btn-primary btn-sm">ボタン</a>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-sm-6.col-md-3 -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card img-thumbnail">
                    <img class="card-img-top" src="https://dummyimage.com/320x240/ccc/fff.png&text=img1" alt="画像">
                    <div class="card-body px-2 py-3">
                        <h5 class="card-title">タイトル</h5>
                        <p class="card-text">コンテンツ コンテンツ コンテンツ コンテンツ</p>
                        <p class="mb-0">
                            <a href="#" class="btn btn-primary btn-sm">ボタン</a>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-sm-6.col-md-3 --> #}
  </div>


  <br><br><br><br><br><br>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
