{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}新規会員登録有難う御座います！{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>会員登録完了</h1>
    </div>
    <div class="box">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    会員登録有難う御座います。
                </div>
                <br>
                <br>
                <p class="text-center">
                    <a href="/" class="btn btn-info">TOPへ</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
